a {
    padding: 2px;
}




li {
    padding: 5pt 0pt;
}

li a {
    vertical-align: baseline;
    line-height: 20pt;
}

span,
iframe {
    padding-left: 20px;
    line-height: 2em;
}

div {
    margin: auto;
}

.wrap {
    background: url(/source/bg_grid.png), #fffdfd;
    width: 800px;
    margin: auto;
    padding-bottom: 10px;
    border: 1px solid #bcbcbc;
}

.wrap .topMenu1 {
    background-color: #1E1E1E;
    height: 50px;
    line-height: 50px;
    padding-left: 15px;
    font-size: 1.5em;
    display: block;
    position: relative;
}

.wrap .topMenu1 span {
    padding: 8px;
    box-sizing: border-box;
    border-left: 1px solid #bcbcbc;
}

.topMenu1 .title {
    width: 200px;
    height: 50px;
    background-color: #fff;
    margin-top: 9px;
    padding: 12px 10px;
    box-sizing: border-box;
    font-size: 0.8em;
    border: 1px solid #ffffff;
}

.topMenu1 .right {
    position: absolute;
    right: 4rem;
    top: -0.5rem;
}

.menuBar {
    height: 60px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
}

.bt {
    height: 4rem;
    background: linear-gradient(to top, #fffdfb, #dfdfdf);
    padding: 0.5rem;
    border-radius: 5px;
    margin-right: 1rem;
    box-shadow: 1px 1px 2px 1px rgba(82, 82, 82, 0.164);
}

.htmlN :hover {
    background-color: darksalmon;
    color: white;
    font-weight: 700;
}

.cssN :hover {
    background-color: deepskyblue;
    color: aliceblue;
    font-weight: 700;
}


.HWtab {
    background-color: cornsilk;
    width: 50%;
    text-align: center;
    letter-spacing: 0;
    padding: 1rem;
}

.HWtab th,
.HWtab td,
.project td {
    padding: 1.5rem;
    height: 32px;
    width: 35%;
}


.HWtab a:hover {
    background-color: aquamarine;
    font-size: 1.5rem;
    font-weight: 700;
}

.container {
    width: 90%;
    margin: auto;

}

.work {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.work .container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.project {
    background-color: bisque;
    margin-left: 1rem;
    font-size: 2rem;
    line-height: 2rem;
    padding: 1rem;
}

.project a:hover {
    background-color: rgb(255, 145, 20);
    font-weight: 500;
}

.note {
    width: 100%;
}

.butt {
    width: fit-content;
    margin: auto;
}

.feild {
    width: 100%;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(192, 192, 192);
    border-image: initial;
    padding: 50px;
    margin: auto
}