/* ctrl+tab */
/* css의 문자셋 지정 */
@charset 'utf-8';

/* 웹브라우저의 기본 여백 초기화 */
* {
    margin: 0;
    padding: 0;
}

/* 0속성은 단위를 안써도 적용된다 */
/* //margin padding 여백을 조정하는 속성 */
/* *는 전체를 뜻한다 */
/* 자식선택자(=하위선택자) */
body>* {
    width: 900px;
    padding: 20px;
    background-color: darkseagreen;
    text-align: center;
    margin: auto;
}

header {
    display: flex;
    height: 200px;
    justify-content: space-between;
    align-items: flex-end;
}

h1 {
    width: 200px;
    height: 200px;
    background-color: aliceblue;
    line-height: 200px;
}

ul {
    display: flex;
    list-style: none;
    width: 600px;
    justify-content: center;
}

li {
    width: 70px;
    height: 60px;
    line-height: 60px;
}

#container {
    display: flex;
    justify-content: space-between;
}

section {
    background-color: azure;
    width: 300px;
    height: 400px;
    line-height: 400px;
}

section+div {
    display: flex;
    flex-direction: column;
}
section+div>*{
    height: 190px;
    width: 200px;
    background-color: whitesmoke;
}
footer>*{
    background: aliceblue;
    width: 600px;
    padding: 5px;
    margin-left: 100px;
    margin-top: 5px;
}