/* 부모한테 선언하면 자식이 배치됨=1단상속 */
/* 부모는 컨테이너박스, 자식은 아이템박스 */
.container {
    display: flex;
}

#opt1 {
    flex-wrap: nowrap
}

#opt2 {
    flex-wrap: wrap;
}

#opt3 {
    flex-wrap: wrap-reverse;
}

#opt4 {
    /* diraction wrap */
    flex-flow: row wrap;
}