.container{
    display: flex;
    width: 900px;
}

#opt1{
    /* 기본값 */
    justify-content: flex-start;
}

#opt2{
    /* 주축의 끝 */
    justify-content: flex-end;
}

#opt3{
    /* 주축 중앙 */
    justify-content: center;
}

#opt4{
    /* 주축의 시작점과 끝점에 배치후 중간은 균등 배치 */
    justify-content:space-between;
}

#opt5{
    /* 전부 균등 배치, 여백 병합X */
    justify-content:space-around;
}

#opt6{
    /* 전부 균등 배치, 겹치는 여백 병합 */
    justify-content: space-evenly;
}