.container {
    display: flex;
    height: 150px;
    width: 100%;
}

/* align-items 교차축 정렬 설정 */
/* 기본 값은 stretch */
#opt1 {
    align-items: stretch;
}
/* 교차축 시작점 배치 */
#opt1 {
    align-items: flex-start;
}

/* 교차축 끝점 배치 */
#opt2 {
    align-items: flex-end;
}

/* 교차축 중앙정렬 */
#opt3 {align-items:center;}

/* 문자기준선에 맞춰 배치 */
#opt4 {align-items:baseline;}

/* 교차축에 꽉차게 늘임 */
#opt5 {align-items:stretch;}
