.container {
    width: 450px;
    height: 150px;
    display: flex;
    align-items: center;
}
/* align->교차축, justfy->주축 */
#box1{
    align-self: flex-start;
    /* items는 부모에 선언, self는 아이템박스(자식 본인)에 선언함 */
}

#box3{
    align-self:stretch;
    /* 아이템 박스가 1줄일때 사용 */
}