.container {
    float: left;
    width: 200px;
    height: 200px;
    margin: 30px;
    display: flex;
    flex-flow: row wrap;
    /* container를 좌로 정렬 */
}

.box {
    width: 80px;
    background-color: #222;
    border: 1px dotted #e9e9e9;
}

/* align-content는 여러줄일때 사용 */
#opt1 {
    /* 시작지점배치 */
    align-content: flex-start;
}

#opt2 {
    align-content: flex-end;
}

#opt3 {
    justify-content: center;
    align-content: center;
}

#opt4 {
    /* justify-content와 유사 */
    /* 시작,끝점 배치후 중간 균등배치 */
    align-content: space-between;
}

#opt5 {
        /* 전부 균등배치 */
        align-content: space-around;
}

#opt6 {
        /* 늘림 */
        align-content: stretch;
}