.container {
    width: 80%;
    height: 150px;
    display: flex;
    align-items: center;
}

.box {
    width: 60px;
    height: 60px;
    margin: 5px;
}

/* flex : flex-grow | flex-shrink | flex=basis */
/* flex : 확대비율 | 축소비율 | 기본크기 */

/* 기본값 */
#box1{flex:1;}

/* basis값 지정 - 복잡해짐 */
#box2{flex:50px;}

/* grow shrink 남는 비율 지정 */
#box3{flex:2 2;}

#box4{flex:1 40px;}

#box5{flex:2 2 0;}
