@charset "utf-8";

@font-face {
    font-family: 'NNeo';
    src: url(./NanumSquareNeo/TTF/NanumSquareNeo-aLt.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'NNeo';
    src: url(./NanumSquareNeo/TTF/NanumSquareNeo-bRg.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'NNeo';
    src: url(./NanumSquareNeo/TTF/NanumSquareNeo-cBd.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'NNeo';
    src: url(./NanumSquareNeo/TTF/NanumSquareNeo-eHv.ttf);
    font-weight: 900;
}

body{
    font-family: 'NNeo', sans-serif;
}