* {
    padding: 0;
    margin: 0;
}

.wrap1 section {
    background-color: cornflowerblue;
}

.inner_wrap1 {
    width: 1180px;
    margin: auto;
    height: 400px;
    position: relative;
    background-color: aliceblue;
}

.inner_wrap1 h1 {
    width: 150px;
    /* 부모중 position이 선언된 놈 기준 */
    position: absolute;
    top: 0;
    left: 10px;
    background-color: darksalmon;
}

.inner_wrap1 h2 {
    width: 150px;
    position: absolute;
    top: 0;
    right: 10px;
    background-color: darksalmon;
}