<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout page</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">

</head>

<body>
    <div class="wrap">
        <header>
            <div class="top">
                <div class="container">top</div>
            </div>
            <div class="nav">
                <div class="container">nav</div>
            </div>
        </header>
        <!------ //header ------>
        <div class="banner_hero">
            <div class="container">banner</div>
        </div>
        <!------ //.banner_hero ------>
        <main>
            <div class="content1">
                <div class="container"></div>
            </div>
            <div class="content2">
                <div class="container"></div>
            </div>
        </main>
        <!------ //main ------>
        <footer></footer>
    </div>
    <!------ //.wrap ------>
</body>

</html>