* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    display: flex;
    flex-flow: column wrap;
    background: fixed;
}

header {
    display: flex;
    height: 60px;
    line-height: 60px;
    justify-content: space-around;
    background-color: #f8f8f8;
    align-items: center;
    margin-bottom: auto;
    color: black;
}

header a {
    color: #333;
}

#sitemap {
    width: 150px;
    height: 40px;
    margin-left: auto;
}

.logo {
    margin-left: 40px;
    margin-right: auto;
    width: 100px;
    height: 60px;
    text-align: center;
}

.menu1 {
    margin-left: 20px;
    width: 100px;
    text-align: center;
}


.container {
    display: flex;
    flex-direction: row;
    min-width: 800px;
    align-content: space-between;

}


.nav {
    min-width: 300px;
    padding: 30px;
    padding-top: 5%;
    box-sizing: border-box;
    margin-right: auto;
    background-color: #ececec;
    text-align: center;
    font-size: 18px;
    line-height: 50px;
}

ol li {
    margin-left: 1rem;
}

li li {
    line-height: 20px;
}

.step1 li:before {
    content: '↳ :';
}

.nav a {
    font-size: 24px;
    color: #333;
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 30px;
    flex: auto;
    padding: 50px;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 800px;
}

.content h2 {
    text-align: left;
    font-size: 3em;
}

.txtBox {
    width: 90%;
    line-height: 1.75em;
    font-size: 1em;
    background-color: #f8f8f8;
    margin-bottom: 2rem;
}

.txtBox2 {
    width: 90%;
    line-height: 1.75em;
    font-size: 1em;
    margin-bottom: 2rem;
}

.txtBox2>h3 {
    margin-top: 20px;
}

th {
    width: 15%;
    vertical-align: top;
    text-align: right;
    padding: 10px;
    border-right: 1px solid #333;
}

td {
    padding: 10px;
    border-top: 1px dashed gray;
}

.txtBox3 {
    width: 90%;
    line-height: 1.75em;
    margin-bottom: 2rem;
}

.txtBox3 ol ol{margin-left: 1rem;
}

footer {
    margin-top: auto;
    min-height: 100px;
    align-content: center;
    background-color: rgb(43, 43, 43);
    padding: 40px 180px;
}